# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
cities_df = pd.read_csv('output_data/cities.csv')

cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Ushuaia,67,AR,1587954096,69,-54.80,-68.30,39.20,11.41
1,1,Mareeba,0,AU,1587954054,63,-17.00,145.43,86.00,5.99
2,2,Shingū,40,JP,1587954096,59,33.73,135.98,62.60,12.75
3,3,Punta Arenas,15,CL,1587954096,74,-53.15,-70.92,32.00,4.70
4,4,Ankazoabo,19,MG,1587954097,75,-22.28,44.52,63.52,7.58

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

In [8]:
# Plot Heatmap
fig = gmaps.figure()
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,dissipating=False, max_intensity=8)

# Display figure

fig = gmaps.figure(center=(11.0, -10.0), zoom_level=2)

# Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# cities_of_interest selection
cities_of_interest_df = cities_df.loc[(cities_df["Max Temp"] <= 78) & 
                                    (cities_df["Max Temp"] >= 70) &
                                    (cities_df["Humidity"] <= 60) &
                                    (cities_df["Wind Speed"] <= 10.5) ]

cities_of_interest_df = cities_of_interest_df.dropna()

cities_of_interest_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
23,23,Show Low,1,US,1587954008,16,34.25,-110.03,73.40,9.17
38,38,Korla,0,CN,1587954102,12,41.76,86.15,75.13,3.80
52,52,Stephenville,1,US,1587954103,43,32.22,-98.20,71.60,6.93
122,122,Iberia,1,US,1587954109,49,29.95,-91.75,71.60,8.05
126,126,Zharkent,33,KZ,1587954109,33,44.16,80.00,73.85,7.23
146,146,Najrān,40,SA,1587954113,44,17.49,44.13,77.00,5.46
191,191,Adrar,0,MR,1587954117,17,20.50,-10.07,76.19,10.04
205,205,Alice Springs,62,AU,1587953986,44,-23.70,133.88,77.00,9.17
235,235,Langfang,0,CN,1587954121,33,39.51,116.69,71.01,4.43
237,237,Airai,29,TL,1587954121,44,-8.93,125.41,72.05,3.24
264,264,Esna,0,EG,1587954124,35,25.29,32.55,71.60,2.80
401,401,Raja,100,SS,1587954135,31,8.46,25.68,75.99,2.15
404,404,Āwash,63,ET,1587954135,50,8.98,40.17,75.40,4.07
413,413,Atar,0,MR,1587954136,19,20.52,-13.05,74.01,9.46
452,452,Mt. Pleasant,1,US,1587953939,37,32.79,-79.86,71.01,9.17
478,478,Naze,75,JP,1587954144,53,28.37,129.48,71.60,3.36
499,499,Emmett,1,US,1587954145,34,43.87,-116.50,70.00,10.29
524,524,Yumen,0,CN,1587954147,8,40.28,97.20,71.29,10.27
545,545,Winnemucca,1,US,1587954149,18,40.97,-117.74,71.60,5.82
560,560,Tomatlán,1,MX,1587954150,57,19.93,-105.25,71.78,2.19

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotels",
    "key": g_key
}

for index, row in cities_of_interest_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    # Use the nearbysearch Google Place API
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    # convert to json
    name_address = name_address.json()
    
    try:
        cities_of_interest_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        pass
    
cities_of_interest_df.reset_index(drop = True)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,23,Show Low,1,US,1587954008,16,34.25,-110.03,73.40,9.17,Hampton Inn & Suites Show Low-Pinetop
1,38,Korla,0,CN,1587954102,12,41.76,86.15,75.13,3.80,Kangcheng Jian Guo International Hotel
2,52,Stephenville,1,US,1587954103,43,32.22,-98.20,71.60,6.93,Holiday Inn Express & Suites Stephenville
3,122,Iberia,1,US,1587954109,49,29.95,-91.75,71.60,8.05,NaN
4,126,Zharkent,33,KZ,1587954109,33,44.16,80.00,73.85,7.23,гостиница Satti
5,146,Najrān,40,SA,1587954113,44,17.49,44.13,77.00,5.46,NaN
6,191,Adrar,0,MR,1587954117,17,20.50,-10.07,76.19,10.04,NaN
7,205,Alice Springs,62,AU,1587953986,44,-23.70,133.88,77.00,9.17,DoubleTree by Hilton Hotel Alice Springs
8,235,Langfang,0,CN,1587954121,33,39.51,116.69,71.01,4.43,Holiday Inn Express Langfang Park View
9,237,Airai,29,TL,1587954121,44,-8.93,125.41,72.05,3.24,NaN
10,264,Esna,0,EG,1587954124,35,25.29,32.55,71.60,2.80,Sandal Ankh1
11,401,Raja,100,SS,1587954135,31,8.46,25.68,75.99,2.15,NaN
12,404,Āwash,63,ET,1587954135,50,8.98,40.17,75.40,4.07,Tana Hotel
13,413,Atar,0,MR,1587954136,19,20.52,-13.05,74.01,9.46,Odar kanawal
14,452,Mt. Pleasant,1,US,1587953939,37,32.79,-79.86,71.01,9.17,Comfort Suites At Isle Of Palms Connector
15,478,Naze,75,JP,1587954144,53,28.37,129.48,71.60,3.36,Hotel New Amami
16,499,Emmett,1,US,1587954145,34,43.87,-116.50,70.00,10.29,Holiday Motel & R.V Park
17,524,Yumen,0,CN,1587954147,8,40.28,97.20,71.29,10.27,NaN
18,545,Winnemucca,1,US,1587954149,18,40.97,-117.74,71.60,5.82,Best Western Plus Gold Country Inn
19,560,Tomatlán,1,MX,1587954150,57,19.93,-105.25,71.78,2.19,Hotel Hacienda Vieja

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in cities_of_interest_df.iterrows()]
locations_of_interest = cities_of_interest_df[["Lat", "Lng"]]

In [17]:

# Add marker layer ontop of heat map

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer and markers
heat_layer = gmaps.heatmap_layer(locations,dissipating=False, max_intensity=8)
markers = gmaps.marker_layer(locations_of_interest,info_box_content =hotel_info)

# Display figure

fig = gmaps.figure(center=(11.0, -10.0), zoom_level=2)

# Add layer
fig.add_layer(heat_layer)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))